ff.o
ff
fftk.o
fftk
cmpl
dict
ff64
ff64.o
*.o
exp/*/hello64
exp/*/stack64
exp/*/codegen64
exp/*/subrthread64
exp/*/regswap64
exp/*/headers64
exp/*/minicompiler64
exp/*/interactive64
exp/*/nameddef64
exp/*/memory64
exp/*/variables64
exp/*/fileio64
exp/*/retstack64
exp/*/swapbit64
exp/*/litcomma64
exp/*/backtick64
exp/*/forthmacros64
exp/*/moremacros64
